<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SnapKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA00252C1D3CD1C4001A2FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA0025401D3CD1C4001A2FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA00254B1D3CD1C4001A2FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
